.button-filter{
    background-color: #fff;
    color: #00a139;
      border: 1px solid #00a139 !important;
    &:hover{
        background-color: #00a139 !important;
        color: #fff !important;
        border: 1px solid #fff !important;
    }
}
.button-create{
 
     background-color: #00a139;
    color: #fff;
      border: 1px solid #fff !important;
    &:hover{
        background-color: #fff !important;
        color: #00a139 !important;
        border: 1px solid #00a139 !important;
    }
}